# Función map()

In [1]:
numeros=[2,5,10,23,50,33]
def doblar(numero): 
    return numero *2

map(doblar,numeros)

In [2]:
m=map(doblar,numeros)

In [3]:
next(m)

4

In [4]:
next(m)

10

In [5]:
list(m)

[20, 46, 100, 66]

In [6]:
m=map(doblar,numeros)
list(m)

[4, 10, 20, 46, 100, 66]

In [7]:
list(map(lambda x: x*2,numeros))

[4, 10, 20, 46, 100, 66]

In [8]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]

list(map(lambda x,y: x*y, a, b))

[6, 14, 24, 36, 50]

In [9]:
class Persona:
    def __init__(self,nombre,edad):
        self.nombre=nombre
        self.edad=edad

    def __str__(self):
        return "{} de {} años".format(self.nombre,self.edad)

personas=[
    Persona("Juan",35),
    Persona("Marta",16),
    Persona("Pedro",39),
    Persona("Eduardo",12)
]

In [10]:
def incrementar(persona):
    persona.edad+=1
    return persona

personas=map(incrementar,personas)

In [12]:
for persona in personas:
    print(persona)

Marta de 17 años
Pedro de 40 años
Eduardo de 13 años

In [17]:
personas=[
    Persona("Juan",35),
    Persona("Marta",16),
    Persona("Pedro",39),
    Persona("Eduardo",12)
]

personas=map(lambda persona: Persona(persona.nombre,persona.edad+1),personas)

In [18]:
for persona in personas: 
    print(persona)

Juan de 36 años
Marta de 17 años
Pedro de 40 años
Eduardo de 13 años